name: ci

on:
  push: { branches: [main] }
  pull_request: { branches: [main] }

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v6
        with: { node-version: lts/*, cache: pnpm }
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm test:types
      - run: pnpm vitest --coverage
      - uses: codecov/codecov-action@v5
        with: { token: "${{ secrets.CODECOV_TOKEN }}" }
  publish:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }
    needs: tests
    if: contains('refs/heads/main', github.ref) && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v5
        with: { fetch-depth: 0 }
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v6
        with: { node-version: lts/*, cache: "pnpm" }
      - run: pnpm install
      - run: pnpm changelogen --bump --canary nightly
      - run: npm i -g npm@latest && npm publish --tag latest
