name: ci

on:
  push:
    branches:
      - main
      - v1
  pull_request:
    branches:
      - main
      - v1

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm vitest run --coverage
      - uses: codecov/codecov-action@v3
